<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sua Mascara - HOME</title>

<style>

body {
  background-image: url("static/images/plano-de-fundo-sua-máscara 2.png");
}

.logo {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  padding: 5px;
  margin-top: 5vh;
  border-radius: 5px;
  size: 400px;
  text-align: center;
}

.botao {
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  padding: 30px;
  border-radius: 5px;
  size: 40px;
  text-align: center;
}

</style>
</head>
<body>

	<div class='logo'>
		<img src="static/images/agrvai.png">
	</div>


	<div class='botao'>
		<a href='login' style='text-decoration: none; color: #000000;'>FAZER LOGIN<a>
	</div>





	</div>
</body>
</html>